<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--CADENA DE CONEXIÓN-->
	<connectionStrings>
		<add name="Conexion" connectionString="Data Source=SQL5108.site4now.net;Initial Catalog=db_a7878d_bdsistematutoria;User Id=db_a7878d_bdsistematutoria_admin;Password=bdstgrupo5" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>