<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsFix.Properties.Settings.DBTutoriasConnectionString" connectionString="Data Source=SQL5102.site4now.net;Initial Catalog=db_a7878d_bdtest;User Id=db_a7878d_bdtest_admin;Password=235689asdf" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
